.container{
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2%;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  
  }
  .h2{
  text-size-adjust: 42px;
  }
  header{
  padding: 8px 0;
  background-color:white;
  height: 100px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  header{
    padding: 8px 0;
    background-color: #068688;
    height: 70px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }


  
    
  .logo{
  float: inline-start;  
  }
  .logo h2{
  
  font-weight: normal;
  font-size: 35px;
  display: inline-block;
  text-align: left;
  justify-items: left ;
  
  }
  .logo img{
  width: 72px;
  align-items: center;
  text-align: center;
  margin-left: -50%;
  
  }
  .logo a{
  color:#ffffff;
  text-decoration: none;
  }

 .mt-0.mb-1{
  font-size: 35px;
  color:#bd3e4fbe;
 }

  .media-body{ 
    font-size: 25px;

  }

  .container h1{
      font-size: 80px;
      font-weight: normal;
      color: #cf9364;
  }

  
  body {
    margin: 0;
    font-family: Open-sans, sans-serif;
    
  }
  h1, h2, h3 {
    font-family: Raleway, Helvetica, sans-serif;
  }
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 0;
  }



#linha-vertical {
    height: 600px;
     border-left: 3px solid rgba(150, 144, 144, 0.758);
    
     position: absolute;
     left: 70%;

  }

  .banner{
    margin-left: 73%;
    margin-top: -30%;
    
  }

  
.banner h2{
  font-size: 28px;
  font-weight: normal;
  color:rgba(235, 96, 15, 0.47); 
  
}

.video{
  margin-left: 5%;
}

h1{
  margin-left: 5%;
  color: rgba(235, 96, 15, 0.451); 
}

  .b{
    color: #068688;
    margin-left: 75%;
    margin-top: -180%;
    height: 50px;
    width: 160px;
    font-size: 15px;
  }

  .form{
    margin-left: 60%;
    margin-top: -20%;
  }

  .lado{
    margin-left: 5%;
  }

  .ha{
    font-size: 28px;
    font-weight: normal;
    color:rgba(235, 96, 15, 0.47); 
  }

  .k {
    font-size: 140%;
  }

  #linha-vertical2 {
    height: 600px;
     border-left: 3px solid rgba(150, 144, 144, 0.758);
    
     position: absolute;
     left: 50%;

  }
 
  .ligue{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 36px;
    line-height: 34px;
    font-size: 14px;
    color: #ffffff;
    background-color: #007c89;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    padding: 0 18px;
  }
    .ligue:hover {
        color: #ffffff;
        background-color: #006570;
    }